.transforms {
    transform: translate(-50%, -6%);
}

.focused label,
.react-select__control--is-focused label {
  transform: translateY(-1.25rem) scale(0.75);
  color: #4a90e2; /* Change the color to match your design */
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  right: -20px;
  min-width: 30px !important;
  left: unset;
  min-height: 30px !important;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: -20px !important;
  min-width: 30px !important;
  min-height: 30px !important;
}

.reseller button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  right: 10px;
  min-width: 30px !important;
  left: unset;
  min-height: 30px !important;
}
.reseller button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 10px !important;
  min-width: 30px !important;
  min-height: 30px !important;
}

.react-multi-carousel-list {
  position: unset !important;
}

.gradient-border {
  border-image: linear-gradient(to right, #FFFFFF00, #AAAAAA, #FFFFFF00); /* Adjust colors as needed */
  border-image-slice: 1;
}

.css-b62m3t-container div:hover {
  border-color: #80808085 !important;
}

.hover\:font-semibold:hover {
  font-weight: 600 !important;
  color: #333333 !important;
  background: #dedddd !important;
}

.koyZDM , .bsLmP {
  overflow: unset !important;
}